@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --white: #fff;
    --gy-light: rgb(134, 162, 165);
    --gy-dark: rgb(42, 65, 68);
    --gn-light: rgb(224, 241, 232);
    --gn-dark: rgb(12, 125, 105);
    --error: rgb(215, 60, 60);
}

.f-heading {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1px;
    font-weight: 700;
}

.f-bold {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}

.f-reg {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.f-small {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    accent-color: var(--gn-dark);
    width: 100vw;
    min-height: 100vh;
}

input:not([type='radio'], [type='checkbox']),
textarea,
button {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    box-sizing: border-box;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

input:not([type='radio'], [type='checkbox']),
textarea {
    border-radius: 8px;
    border: 1px solid var(--gy-light);
    display: inline-block;
    width: 100%;
    padding: 12px 24px;
    cursor: pointer;

}

textarea {
    min-height: 5lh;
    resize: vertical;
}

button {
    background: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-container {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: auto;
    z-index: 5;
}

.modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 24px;
}

.modal-content {
    background-color: var(--gy-dark);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--white);
}

.success {
    display: flex;
    gap: 8px;
}

.modal-content p {
    color: var(--gn-light);
}


main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gn-light);
}

.wrapper {
    max-width: 736px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: var(--white);
    border-radius: 16px;
}

.title h1 {
    color: var(--gy-dark);
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.contact-form {
    padding-bottom: 4px;
}

.full {
    grid-column: 1 / -1;
}

fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

span.req {
    display: inline-block;
    margin-left: 1ch;
    margin-bottom: 0.5rem;
}

.error {
    display: inline-block;
    margin-top: 0.5rem;
    color: var(--error);
}


.form-control.err input,
.form-control.err textarea {
    border-color: var(--error);
}


.query {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--gy-light);
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 12px 24px;
    cursor: pointer;
}


input[type='radio'],
input[type='checkbox'] {
    accent-color: var(--gn-dark);
    width: 19px;
    height: 19px;
    cursor: pointer;
}

input[type='radio']~label,
input[type='checkbox']~label {
    cursor: pointer;
}

.consent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.select {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

button[type='submit'] {
    width: 100%;
    grid-column: 1 / -1;
    background-color: var(--gn-dark);
    padding: 16px 40px;
    border-radius: 8px;
    border: 1px solid var(--gn-dark);
    color: var(--white);
}

button:hover {
    background-color: var(--gy-dark);
}

@media(max-width:600px) {
    .contact-form {
        grid-template-columns: 1fr;
    }

    fieldset {
        grid-template-columns: 1fr;
    }

    textarea {
        height: 9lh;
    }
}